<!DOCTYPE html>
<html>

<head>
    <title>Add Availability</title>
</head>

<body>

    <h1>Add Availability</h1>

    <form method="POST">

        <label>Available Date</label>
        <input type="date" name="available_date" required>

        <br><br>

        <label>Start Time</label>
        <input type="time" name="start_time" required>

        <br><br>

        <label>End Time</label>
        <input type="time" name="end_time" required>

        <br><br>

        <button type="submit">
            Add Availability
        </button>

    </form>

    <br>

    <a href="/doctor/dashboard">
        <button type="button">
            Back to Dashboard
        </button>
    </a>

</body>

</html>