<!DOCTYPE html>
<html>

<head>
    <title>Book Appointment</title>
</head>

<body>

    <h1>Book Appointment</h1>

    <h2>{{ doctor["name"] }}</h2>

    <p>
        Specialization: {{ doctor["specialization"] }}
    </p>

    <h3>Available Timings</h3>

    {% for slot in availability %}

    <p>
        Date: {{ slot["available_date"] }}
    </p>

    <p>
        Time:
        {{ slot["start_time"] }}
        -
        {{ slot["end_time"] }}
    </p>

    <hr>
    <form method="POST" action="/book/{{ doctor['doctor_id'] }}">

        <input type="hidden" name="availability_id" value="{{ slot['availability_id'] }}">

        <label>Choose Time:</label>

        <input type="time" name="start_time" required>

        <button type="submit">
            Book
        </button>

    </form>

    {% endfor %}

    <a href="/doctors">
        <button type="button">Back</button>
    </a>

</body>

</html>