<!DOCTYPE html>
<html>

<head>

    <title>Doctor Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    <h1>Doctor Login</h1>

    <form method="POST">

        <label>Email</label>
        <input type="email" name="email" required>

        <br><br>

        <label>Password</label>
        <input type="password" name="password" required>

        <br><br>

        <button type="submit">
            Login
        </button>

    </form>

    <a href="/doctor/register">
        <button type="button"> Sign up</button>
    </a>

    <a href="/">
        <button type="button"> Go to home</button>
    </a>

</body>

</html>