<!DOCTYPE html>
<html>

<head>
    <title>
        CLINIC MANAGEMENT SYSTEM
    </title>

<body>
    <h1>
        Welcome to clinical management system
    </h1>
    <p>
        Hello
    </p>

    <h1>Clinic Management System</h1>
    <p>Book and manage your doctor appointment easily.</p>

    <a href="/patient">
        <button>
            Patient Login
        </button>
    </a>
    <a href="/doctor">
        <button>
            Doctor Login
        </button>
    </a>
    <a href="/about">
        <button>
            About Login
        </button>
    </a>


</body>

</html>