<!DOCTYPE html>
<html>

<head>
    <title>My Appointments</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <h1>My Appointments</h1>

    <table>

        <tr>
            <th>Doctor</th>
            <th>Specialization</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Action</th>
        </tr>

        {% for appointment in appointments %}

        {% if appointment["status"] == "Booked" %}

        <tr>

            <td>{{ appointment["doctor_name"] }}</td>

            <td>{{ appointment["specialization"] }}</td>

            <td>{{ appointment["appointment_date"] }}</td>

            <td>
                {{ appointment["start_time"] }}
                -
                {{ appointment["end_time"] }}
            </td>

            <td>{{ appointment["status"] }}</td>

            <td>
                <form method="POST" action="/confirm_cancellation/{{ appointment['appointment_id'] }}">
                    <button type="submit">
                        Cancel Appointment
                    </button>
                </form>
            </td>

        </tr>

        {% endif %}

        {% endfor %}

    </table>

    <br>

    <a href="/patient/dashboard">
        <button>Back</button>
    </a>

</body>

</html>