<!DOCTYPE html>
<html>

<head>
    <title>Patient Login</title>
</head>

<body>
    <h1>Patient Login</h1>
    <form method="post" action="/patient">
        <label>Email:</label>
        <input type="email" name="email" placeholder="Enter your email">

        <br><br>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter the password">

        <br><br>

        <button type="Submit">Login</button>
    </form>
    <br>
    <a href="/">
        <button type="button"> Go to home</button>
    </a>
</body>

</html>